.student-list td {
    border: 1px solid black;
    padding: 1rem;
}

.student-list th {
    border: 1px solid black;
    padding: 1rem;
    background-color: #666666;
    color: #ffffff;
}

.student-list {
    border-collapse: collapse;
    margin-left: 2rem;
    
}

.student-list + .student-list {
    margin-top: 1rem;
}