@import "~bootstrap/scss/vendor/rfs";
@import "styles/variables-post-custom";
@import "styles/mixins/asterisk";

body {
  background-color: #f0f2f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

legend {
  display: inline-block;
}

.legend-form-label {
  padding-top: 0;
  padding-bottom: add($input-padding-y, $input-border-width);
  margin-bottom: 0; // Override the `<label>/<legend>` default
  @include font-size(inherit); // Override the `<legend>` default
  line-height: $input-line-height;
}

label.required,
.legend-form-label.required {
  font-weight: $font-weight-semibold;
}

.asterisk,
label.required,
.legend-form-label.required {
  &:after {
    @include asterisk();
  }
}
